{% extends "base.html" %}
{% load static %}

{% block title %}Registro de Ponto - CNAT Maker{% endblock %}

{% block content %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center gap-5">
    <div class="row">
    
        <div class="col">
            <div class="card p-4 text-center div1">
                <h1 class="text-pre-bio">Posicione sua digital no leitor</h1>
                <img class="img-dedao" src="{% static 'img/colocar-dedo.svg' %}" alt="">
            </div>
        </div>

        
        <div class="col">
            <div class="card p-4 text-center div2">
                <img src="" alt="">
                <h1>Thay</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}
