{% extends "base.html" %}
{% load static %}

{% block title %}Registro de Ponto - CNAT Maker{% endblock %}

{% block content %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center gap-5">
    <div class="row">
    
        <div class="col">
            <div class="card p-4 text-center div1">
                <h1 class="text-pre-bio">Posicione sua digital no leitor</h1>
                <img class="img-dedao" src="{% static 'img/colocar-dedo.svg' %}" alt="">
            </div>
        </div>

        
        <div class="col">
            <div class="card p-4 text-center div2">
                <img class="logo-cnat-maker-form" src="{% static 'img/cnat-maker-color.png' %}" alt="">
                <div class="my-8">
                    <div id="clock" class="clock-text">00:00</div>
                </div>
                <input type="text" class="input-matricula form-control" id="matricula" name="matricula" placeholder="Insira sua matricula">
                
                <div class="form-check-se d-flex justify-content-center">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Entrada</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Saída</label>
                    </div>
                </div>
                
                <button type="button" class="btn btn-success">Success</button>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static "js/main.js" %}"></script>
{% endblock script %}
